# Summarising, Aggregating, and Grouping data in Python Pandas

https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [ ]:
import pandas as pd
import dateutil

# Load data from csv file
data = pd.DataFrame.from_csv('/Users/naveenkumar/simility/quoka/phone_data.csv')
# Convert date from string to date times
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

In [5]:

import pandas as pd
import numpy as np
ds = pd.DataFrame({0: {'10/10/2012': 50, '10/11/2012': -10, '10/12/2012': 100}, 1: {'10/10/2012': 0, '10/11/2012': 90, '10/12/2012': -5}})


ds.columns = ['a','b']

def comp(df, l1,l2, newcolname):
    
    df['tmp_col'] = np.where((df['a']>l1) & (df['a'] < l2), df['b'],0)
    tmp_df_cumsum = df['tmp_col'].cumsum()
    tmp_df_cumsum = tmp_df_cumsum.to_frame()
    tmp_df_cumsum.rename(columns={'tmp_col':newcolname}, inplace = True)
    df = df.join(tmp_df_cumsum)
    df.drop(['tmp_col'], axis = 1, inplace = True)
    return df

ds = comp(ds, 50,125, 'bsum1')
ds

              a   b  bsum1
10/10/2012   50   0      0
10/11/2012  -10  90      0
10/12/2012  100  -5     -5

In [7]:
import pandas as pd
import os
import dateutil
import warnings
import csv
import numpy as np
import re

warnings.filterwarnings('ignore')

wdir = "/Users/naveenkumar/simility/quoka"
LABELS = os.path.join(wdir, "testdata.csv")
df = pd.read_csv(LABELS)
print(df[df['day'] == 'Monday'])

df['no_csum'] = df[(df['day'] =='Tuesday') & (df['name'] == 'Jack')].groupby(['name'])['no'].cumsum()
df['no_csum'] = df['no_csum'].fillna(0)
print(df)

df['no_csum1'] = df[(df['day'] =='Tuesday')]['no'].cumsum()
print(df)

   name     day  no
0  Jack  Monday  10
4  Jill  Monday  40
   name        day   no  no_csum
0  Jack     Monday   10      0.0
1  Jack    Tuesday   20     20.0
2  Jack    Tuesday   10     30.0
3  Jack  Wednesday   50      0.0
4  Jill     Monday   40      0.0
5  Jill  Wednesday  110      0.0
   name        day   no  no_csum  no_csum1
0  Jack     Monday   10      0.0       NaN
1  Jack    Tuesday   20     20.0      20.0
2  Jack    Tuesday   10     30.0      30.0
3  Jack  Wednesday   50      0.0       NaN
4  Jill     Monday   40      0.0       NaN
5  Jill  Wednesday  110      0.0       NaN