# Editor Specific Options ( Jupyter )

These options will be possibly different or not applicable for other editors 

* Executing a code cell : shift + enter 
* Adding a code cell above/below the current one : escape + A/B
* Merging cells : escape + shift + up/down ( for selecting cells to be merged ) then shift+M for merging
* Breaking cells at cursor : ctrl +shift + - ( this might not work on interent explorer )
* Changing code cells to markdown cells : escape + M
* Chaning markdown cells to code cells : escape + Y
* deleting a code cell : escape + d + d

Those who have been working with other edtiors , you can continue working on that . Python syntax will not be different across editors

# Creating Basic variables with single values

 Choose any name and equate to the value which you wish the variable to contain. There are few restrictions however on chosing variable which we will discuss few steps later

In [1]:
x=4
y=5
x+y

# the way to execute is : shift+enter

9

For checking what value a particular variable holds , you can simply write the variable name in the cell and execute , variable value will be displayed in the output

In [2]:
x

4

In [3]:
y

5

As opposed languages like SAS , everything in python is case sensitive

In [4]:
X

NameError: name 'X' is not defined

In [5]:
1var= "lalit"  # Variable name can not start with a number

SyntaxError: invalid syntax (<ipython-input-5-d447c74ae1eb>, line 1)

In [6]:
my var = 56  # no spaces in the variable name

SyntaxError: invalid syntax (<ipython-input-6-757445bb959f>, line 1)

In [7]:
my@var = 56 # no  special characters except _

SyntaxError: can't assign to operator (<ipython-input-7-25789334c53d>, line 1)

In [8]:
my_Var = 56

There are some reserved words also which should not be used a variable names

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
finally ='something' # no useage of reserved words as variable name

SyntaxError: invalid syntax (<ipython-input-9-a0d6d56011d1>, line 1)

Although we dont need to declare type of variables at the time of creation explicitly , python does assign type to variables on its own. Anything between quotes ( there is no difference between single or double quotes ) is considered to be of string/character type

In [10]:
x=25
y='lalit'

In [11]:
type(x)

int

In [12]:
type(y)

str

In [13]:
x= "25"

Operation are allowed/not allowed depending on type of variables , irrespective of what values stored in them

In [14]:
x+2

TypeError: must be str, not int

In [15]:
int(x)+2

27

Most basic functions in python do not make changes in input variable

In [16]:
type(x)

str

In [17]:
x=int(x)

In [18]:
type(x)

int

In [19]:
# Explore str , bool type

# Numeric Operations

In [20]:
x=2
y=3

In [21]:
x+y

5

In [22]:
x-y

-1

In [23]:
x*y
x/y

0.6666666666666666

In [24]:
x*y

6

In [25]:
x/y

0.6666666666666666

In [26]:
print(x*y) 
#  print command enables to see the output for both expressions, otherwise in a code cell
# output displays outcome of last cell only 
x/y

6

0.6666666666666666

In [27]:
x^y , x**y # ^ represents bitwise OR operation , use ** only for exponents

(1, 8)

In [28]:
(x+y)**(2*x+3*y)

1220703125

In [29]:
z=(x+y)**(2*x+3*y)
z

1220703125

In [30]:
x+2,y+3,x+y,x**(x+y)

(4, 6, 5, 32)

In [31]:
a=x+2
b=y+3
c=x+y
d=x**(x+y)

In [32]:
a,b,c,d

(4, 6, 5, 32)

In [33]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

For assignment using above methods , number of variables assigned on LHS should match number of expressions on the RHS

Mathematical functions come from package math

In [34]:
import math as m

In [35]:
m.log(x)

0.6931471805599453

In [36]:
help(m.log) # help function to know about commands

Help on built-in function log in module math:

log(...)
    log(x[, base])

    Return the logarithm of x to the given base.
    If the base not specified, returns the natural logarithm (base e) of x.

# Logical values and operations

In [37]:
x=True
y=False

In [38]:
type(x)

bool

In [39]:
x and y

False

In [40]:
x or y

True

In [41]:
x & y

False

In [42]:
x | y

True

In [43]:
not x

False

In [44]:
not y

True

# Writing Conditions
* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [45]:
x="Lalit"

In [46]:
x=="lalit"

False

In [47]:
x!="lalit"

True

In [48]:
x=34
y=67

In [49]:
(x > 20 and y<10) or (x ==4 or y > 15 )

True

In [50]:
x="as"
y="assignment"

x in y

True

In [51]:
x not in y

False

# String Operations

In [52]:
x='Bombay'
y="Bangalore"

In [53]:
type(x),type(y)

(str, str)

In [54]:
len(x), len(y)

(6, 9)

In [55]:
x+y

'BombayBangalore'

In [56]:
x*3 # can't multiply two strings or a string with a float

'BombayBombayBombay'

In [57]:
x+'  '+'to'+'  '+y

'Bombay  to  Bangalore'

In [58]:
z=x+'  '+'to'+'  '+y

In [59]:
z

'Bombay  to  Bangalore'

In [60]:
z.lower()

'bombay  to  bangalore'

In [61]:
z.upper()

'BOMBAY  TO  BANGALORE'

In [62]:
z.capitalize()

'Bombay  to  bangalore'

In [63]:
z

'Bombay  to  Bangalore'

In [64]:
z.rjust(40)

'                   Bombay  to  Bangalore'

In [65]:
a=z.rjust(40)

In [66]:
len(a)

40

In [67]:
z.rjust(10)

'Bombay  to  Bangalore'

In [68]:
# try out ljust, center

In [69]:
z="   "+z+'   '

In [70]:
z

'   Bombay  to  Bangalore   '

In [71]:
z.lstrip()

'Bombay  to  Bangalore   '

In [72]:
z.rstrip()

'   Bombay  to  Bangalore'

In [73]:
z.strip()

'Bombay  to  Bangalore'

In [74]:
z.replace("B","$#@_")

'   $#@_ombay  to  $#@_angalore   '

In [75]:
z

'   Bombay  to  Bangalore   '

In [76]:
z.split("a")

['   Bomb', 'y  to  B', 'ng', 'lore   ']

In [77]:
type(z.split("a"))

list

# String indices ( Works the same way for lists )

* from left to right counting starts with 0 
* from right to left counting starts with -1
* When given a range of indices a:b , value with index a is included and value with index b is not included in the results

In [78]:
x="astringtoplay"

In [79]:
len(x)

13

In [80]:
x[2]

't'

In [81]:
x[-4]

'p'

In [82]:
x[2:7]

'tring'

In [83]:
x[-7:-2]

'gtopl'

# Lists
So far we have covered basic data types in python . SO far the variables that we have created can contain only a single value . But working with data we eventually will need data structures which enable us to store multiple values. There are multiple such datastrucres in python with different properties such as lists, dictionaries, sets and tuples , most used among them are lists which this sections focuses on. Other data structres will be covered in the subsequent sections.

In this section we will talk about 
1. how to create lists
2. how to access individual and group of elements in the list 
3. How to change with accessing indices 
4. Then we'll learn about some special functions which make your job easier in terms of handling and modifying  lists

Lets get started . For creating a list , put values inside a square bracket separated by commas

In [84]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

you can put any kind of value in there , there is no restriction like them being of same type. Accessing invidual elemnts of lists works just like strings. The way each character in the strings got counted as single position, in case of lists each element gets counted as single position. Every thing else works just like strings. If you have forgotten how indexing and slicing worked in case of strings, you might want to go back and revise before we move ahead in this section

In [85]:
print(x)
x[3:7]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

counting here also starts with 0, 70 being the index 3 gets included .'a' being the index 7 is the last element which will not be included , subsetting will stop at an element before that @ 99

In [86]:
print(x)
x[3:]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99, 'a', 'b', 'c']

if you dont mention the second index , all elements till the end will come to output

In [87]:
print(x)
x[:3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 2, 3]

if you dont mention the starting index, elements from the very beginning will come to output. We will take an 
example with a negative index as well.

In [88]:
print(x)
x[3:-5]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10]

Starting position here is same as earlier example, as you recall if its a negative index , counting strats backword and with 1 . so index -5 belongs to 0, element till just before that will come to output. While using indices to access elements , you can also use a different stepsize than the default step size of 1 . lets see how

In [89]:
print(x)
print(x[1:7])
print(x[1:7:2])

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']
[2, 3, 70, -10, 0, 99]
[2, 70, 0]

see here , when you used step size , output , instead of containing all the elements , has only every 2nd elements instead , because the take step wise was 2. If you use a negative step size , output comes in a reversed order instead of usual sequence present in the list

In [90]:
print(x[7:1:-1])

['a', 99, 0, -10, 70, 3]

In [91]:
print(x[7:1:-2])

['a', 0, 70]

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [92]:
print(x)
print(x[2])

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']
3

you can see that the index 2 value in x is 2

In [93]:
x[2]=1000
print(x)

[1, 2, 1000, 70, -10, 0, 99, 'a', 'b', 'c']

now that value has been replaced with 1000. There is no restriction as such to replace a number with a number. you can reassign to a string as well.

In [94]:
print(x)
print(x[2])
x[2]='abcd'
print(x)

[1, 2, 1000, 70, -10, 0, 99, 'a', 'b', 'c']
1000
[1, 2, 'abcd', 70, -10, 0, 99, 'a', 'b', 'c']

you can reassign multiple values at once as well . one change there is that value or values being assigned need to be in the list . here are few examples for the same

In [95]:
print(x)
print(x[1:3])
x[1:3]=[34]
print(x)

[1, 2, 'abcd', 70, -10, 0, 99, 'a', 'b', 'c']
[2, 'abcd']
[1, 34, 70, -10, 0, 99, 'a', 'b', 'c']

while reassinging multiple values with strings you need to be however little careful. Behaviour is little different. Strings are considered list of constituent characters instead of single elements if you dont put them into a list . Here are few examples to make that clear

In [96]:
print(x)
print(x[1:3])
x[1:3]='lalit'
print(x)

[1, 34, 70, -10, 0, 99, 'a', 'b', 'c']
[34, 70]
[1, 'l', 'a', 'l', 'i', 't', -10, 0, 99, 'a', 'b', 'c']

however if you put the string in a list , its not broken into its constituent characters . See this example

In [97]:
print(x)
print(x[1:6])
x[1:6]=['lalit']
print(x)

[1, 'l', 'a', 'l', 'i', 't', -10, 0, 99, 'a', 'b', 'c']
['l', 'a', 'l', 'i', 't']
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c']

Ok , thats enough list and indices , play around that master this as we'll use that a lot in one or the other way throughout the course. Next we'll look at various functions associate with lists which make handling/modifying lists easy. First function we'll look at ways and functions for adding an element to a list at the end .

In [98]:
print(x)
x.append("new")
print(x)

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c']
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new']

as you can see appends adds the value at the end , new list has one more element. If you try to add another list with append , it adds that as a single element of the list instead of extending the list by as many elements as there are in the list

In [99]:
print(x,'&',len(x))
x.append([1,2,3])
print(x,'&',len(x))

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new'] & 9
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3]] & 10

you can see here that length of x has increased by 1, despite list being added has multiple values. However if you want to extend the list instead it being added as single element , you can use function extend

In [100]:
print(x,'&',len(x))
x.extend([10,20,30])
print(x,'&',len(x))

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3]] & 10
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30] & 13

you can also simply add two lists together as shown next

In [101]:
print(x)
x=x+[3,4,5]
print(x)

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30]
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4, 5]

If you havent noticed yet , do see that these functions are making inplace changes to the object on which they are being applied , you dont need to reassign the output to x for changes to appear.

for inserting a value at any other position instead of at the end , you can use function insert .

In [102]:
print(x)
x.insert(2,"another")
print(x)

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4, 5]
[1, 'lalit', 'another', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4, 5]

As you might have figured out , first argument is the index of insertion and second argument is the value to be inserted . Next we'll look at functions to use if we want to remove elements from a list instead of adding. There are two ways to eliminate members from a list , by specifying a position and by specifying the value. We have different function for both the purposes. For eliminating by position you can use function pop

In [103]:
print(x)
x.pop()
print(x)

[1, 'lalit', 'another', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4, 5]
[1, 'lalit', 'another', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4]

by default pop removes elements from the end of the list . you can specify a position also

In [104]:
print(x)
x.pop(2)
print(x)

[1, 'lalit', 'another', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4]
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4]

this has removed element from the index 2 which was 'another'. For eliminating a member by specifying its value , you can use function remove.

In [105]:
print(x)
x.remove('new')
print(x)

[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 10, 20, 30, 3, 4]
[1, 'lalit', -10, 0, 99, 'a', 'b', 'c', [1, 2, 3], 10, 20, 30, 3, 4]

keep in mind that if you try to remove a value which is not there in the list , you will get an error

In [106]:
x.remove('new')

ValueError: list.remove(x): x not in list

also if there are multiple occurences of the value specified , then only the first one is removed . Let see that in action

In [107]:
x=[2,3,40,2,14,2,3,11,71,26]

In [108]:
x.remove(3)
print(x)

[2, 40, 2, 14, 2, 3, 11, 71, 26]

Last thing that we'll learn in this video is how to sort a list . Function sort , sorts a list in ascending manner .

In [109]:
print(x)
x.sort()
print(x)

[2, 40, 2, 14, 2, 3, 11, 71, 26]
[2, 2, 2, 3, 11, 14, 26, 40, 71]

for reversing a string without sorting , you can use function reverse .

In [110]:
x=[2,3,40,2,14,2,3,11,71,26]
print(x)
x.reverse()
print(x)

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]
[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

before we close , i want to mention one thing about function which makes inplace changes . These functions do not return anything . There return type is None. So if you accidentally end up assigning there output to the original variable , it will become a None type object and lose values previously held. See for yourself to understand better

In [111]:
x=[2,3,40,2,14,2,3,11,71,26]
print(x)

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [112]:
x=x.reverse()

In [113]:
print(x)

None

Keep that in mind. this will come in handy many cases , not just when you are working with lists. in the next Section  we'll learn about flow control in python with if-else blocks, for loops and while loops. We'll also learn about very interesting idea known as list comprehension , its one of the most revered idea in python language.

# Flow Control in Python

in this module we will talk about flow control in python with if-else blocks , for and while loops. If else blocks are used when you want to carry out two different operations depending on certain conditions. lets understand that with a simple example.

In [114]:
x=5
if x>10:
    print('x is larger than 10')
else:
    difference=10-x
    print('x is smaller than 10 by '+str(difference)+' units')

x is smaller than 10 by 5 units

here the code which is contained in if block is executed if the condition [x>10] is met otherwise code in the else block is executed. Very importent thing to notice here is how the blocks are defined . Level of indentation that you see here defines which bit of code belongs to if block . once the level of indentation changes block ends. Unlike other languages where code blocks are contained by parenthesis , in python this forced indentation makes the code mroe readable. This way of defining code blocks will remain true throught out this course or else where you use python programming

there is no limit on how big or small the code blocks need to be , it can be as small as containing a single line as above or thousands of lines. 

although logically apparent but important nonetheless , a bit of information will be that else block can not be used stand alone , it always comes only if accompanied by an if block. Whereas its not neccessary to have an else block after if .

These if-else blocks are executed only once . but what if x was a list and we wanted to carry out this operation for each member of x. we can do that iteratively by putting the whole thing inside a for loop.

In [115]:
x=[5,40,12,-10,0,32,4,3,6,72]

for elem in x:
    if elem>10:
        print('elem is larger than 10')
    else:
        difference=10-elem
        print('elem is smaller than 10 by '+str(difference)+' units')

elem is smaller than 10 by 5 units
elem is larger than 10
elem is larger than 10
elem is smaller than 10 by 20 units
elem is smaller than 10 by 10 units
elem is larger than 10
elem is smaller than 10 by 6 units
elem is smaller than 10 by 7 units
elem is smaller than 10 by 4 units
elem is larger than 10

There are three components of a for loop , elem here is known as index . you can name it whatever you want , this index takes values from the value list which is x in this case. For each value that index takes , code inside the for loop is executed. Let me summarise what i just said and add few more things about these components of a for loop .

1. You can name your index whatever you want 
2. Value list can be any list , it doesnt have to contain just numbers 
3. Code contained in the body of the for loop will be executed as many times as there are values in the value list

lets look at another example

In [116]:
cities = ['Mumbai','London','Bangalore','Pune','Hyderabad']

Lets say i want to store number of characters in the name of each city in a list . Lets start with an empty list . We will name our index city , that freedom just makes our code easy to read . inside our for loop we will calculate length of the name string and append to the empty list.

In [117]:
num_chars=[]

for city in cities :
    num_char=len(city)
    num_chars.append(num_char)
    
num_chars

[6, 6, 9, 4, 9]

Takeaway here is that if we want to carry out any process or execute any program iteratively we can use a for loop instead of writing the similar lines of code multiuple times

many at times we want to carry out an iterative process, but  we dont really know how many times it will be executed . Essentially there is no index or value list , we want to keep on running the same bit of code untill a certain condition remains true. We can do that using while loop .

Lets say we want to write a simple game program which a player can run . This program lets people have simulated dice throws as many times as they want , if sum of their throws exceed 20 within 6 throws they win otherwise they lose

We will be using package numpy and subpackage random to simulate random numbers between 1 to 6

In [118]:
mysum=0
throws=0
import numpy as np 
while mysum<=20:
    throw = np.random.randint(high=6,low=1)
    mysum += throw
    throws +=1
    print(throw)

if throws>6: 
    print('Loss')
else :
    print('Win')

2
3
3
5
2
4
2
Loss

By adding a print call there , we can see actual throw values and you can see while loops keeps on running until the condition is met . One key thing that you will need to keep in mind here is that there needs to be a mechanism within the while loop body which at some point flips the conditon, otherwise your loop might run indefinitely . A way to stop it will be to kill the kernel . You will get that option if you click on the kernel button on top of this notebook , try hitting interrupt first , wait for some time , if that doesnt work , click on restart and clear output .

The next thing that we will look at is known as list comprehension . Let me show you waht it is with an example . Lets try to do a simple thing. we are given a simple list with these numbers

In [119]:
x=[2,3,4,5,6,8,9,-10,0,33,44,12]

and we want to create another list which contains squares of these numbers , we can again start with an empty list and keep on appending the squares of the numbers as we iterate through the given list using for loop

In [120]:
squares = []

for num in x :
    squares.append(num**2)

print(x)
print(squares)

[2, 3, 4, 5, 6, 8, 9, -10, 0, 33, 44, 12]
[4, 9, 16, 25, 36, 64, 81, 100, 0, 1089, 1936, 144]

it turns out , to populate this empty list , we dont really need to write an explicit for loop, we can use list comprehension instead , which is nothing but a short form a for loop writeen inside a list. Here , have a look

In [121]:
squares=[num**2 for num in x]

In [122]:
squares

[4, 9, 16, 25, 36, 64, 81, 100, 0, 1089, 1936, 144]

here the expression written before "for num in x", becomes an element of the list

you can have conditions in list comprehension as well. Lets say we wanted to have squares of only even numbers . we can use modulo operator to write that condition. First we will do that using an explicit for loop and then with list comprehension

In [123]:
even_squares=[]

for num in x:
    if num%2==0:
        even_squares.append(num**2)
print(x)
print(even_squares)

[2, 3, 4, 5, 6, 8, 9, -10, 0, 33, 44, 12]
[4, 16, 36, 64, 100, 0, 1936, 144]

now lets see how we can write the same thing with using list comprehension

In [124]:
even_squares=[num**2 for num in x if num%2==0]

In [125]:
even_squares

[4, 16, 36, 64, 100, 0, 1936, 144]

Same result . We'll use this a lot through out the course

# Dictionaries , Sets and Tuples

Hey everyone , lalit here again , as mentioned earlier we will talk about dictionaries , sets and tuples in this module . These are different data structures in python other than simple lists with slightly different properties which have their own use cases in different scenarios . Lets start with dictionaries

Dictionaries store values in key-value pairs , there is no concept of order in these stored values as there is in the list . So you can not acces them through index as you could lists's element . here is a dictionary

In [126]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

you can see here that this dictionary has 4 key-value pairs . they are written inside curly braces , all pairs are spearated by a comma. a key value pair is written as key colon value . dont think that keys all need to be in quotes , keys can be numeric as well. one restriction is that keys need to be unique , you can not have duplicate keys in dictionary

you can extract all keys and values from a dictionary like this

In [127]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

In [128]:
d.values()

dict_values(['nasir', 'dog', 1, [1, 2, 3]])

the way to acces individual values is through the keys as mentioned earlier

In [129]:
d['animal']

'dog'

here if you try to pass a value for a key which deosnt exist in the dictionary you will get a KeyError

In [130]:
d['fish']

KeyError: 'fish'

if you want to include a new element in the dictionary , simply provide a key name and assign it some value like this

In [131]:
d['module']='intro'

here we have introduced a new key named module in the dictionary which has the value 'intro'

In [132]:
d

{'actor': 'nasir',
 'animal': 'dog',
 'earth': 1,
 'list': [1, 2, 3],
 'module': 'intro'}

Dictionaries are useful when we need to store data in key value pairs without worrying about in which order they are being added . searching a dictionary is faster as well as you dont need to traverse through entire dictionary to find an element , you can directly them out by specifying keys .

to delete an element from a dictionary , you can do

In [133]:
del d['actor']
print(d)

{'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

now the key value pair 'actor':'nasir' has been removed from the dictionary

Next we'll look at how dictionaries behave in a for loop . when you use dictionaries instead of a value list in for loop , keys are the accessed elements . this is what i mean by that statement

In [134]:
for elem in d:
    print(elem)

animal
earth
list
module

these are keys of the dictionary

In [135]:
d.keys()

dict_keys(['animal', 'earth', 'list', 'module'])

you can access values of a dictionary in a for loop by using the notation mentioned earlier in the video like this

In [136]:
for elem in d :
    print(d[elem])

dog
1
[1, 2, 3]
intro

there is another function which can be used to take out key value pairs in a list of tuples . For now you can understand tuples to be same as lists. We'll elaborate on differences once we separately discuss tuples. The function is items .

In [137]:
d.items()

dict_items([('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3]), ('module', 'intro')])

Since here each element of list has two values , if we access this with a for loop, we can have two indices . Next example will clarify this

In [138]:
for a,b in d.items():
    print(a,":",b)

animal : dog
earth : 1
list : [1, 2, 3]
module : intro

this would be enough about the dictionaries, next we learn about sets. Sets are same as the mathematical concept of sets. These are collection of unique elemetns and they are unordered . Meaning , it can not have duplicate elements and there is no concept of index because of no order

lets create a set, you can do that by putting values just like a list but inside curly braces

In [139]:
animals={'cat','dog'}

we can use in and not in operation here as well just like lists

In [140]:
'cat' in animals

True

In [141]:
'fish' not in animals

True

to add or remove element to a set we can use function add and remove respectively

In [142]:
animals

{'cat', 'dog'}

In [143]:
animals.add('cow')

In [144]:
animals

{'cat', 'cow', 'dog'}

In [145]:
animals.remove('dog')

In [146]:
animals

{'cat', 'cow'}

if you try to add a duplicate element to a set , try to add an element which is already there in the set then set doesnt change

In [147]:
animals.add('cat')

In [148]:
animals

{'cat', 'cow'}

I mentioned earlier that set are unordered collection, to understand that better lets access the elements in a for loop and see if the order of elements is same as what we used while creating that set

In [149]:
animals = {'cat', 'dog', 'fish','here','there'}

for animal in animals:
    print(animal)

cat
there
fish
here
dog

you can clearly see here that order of elements did not really matter

Next we look at some set theroetic operations on sets

In [150]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [151]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [152]:
a.intersection(b)

{4, 5, 6}

In [153]:
a.issubset(b)

False

In [154]:
a.issubset(c)

True

In [155]:
c.issuperset(b)

True

Last thing in the set section is difference between two sets. Python has two function difference and symmetric_difference

difference gives elements which are not there in the other set

In [156]:
print(b)
print(a)
b.difference(a)

{4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6}

{7, 8, 9}

here 7,8,9 are the elements in b which are not there in a

symmetric_difference will give out elements from both the sets which are not common, consider it to be complement to interesection

In [157]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

Next we look at tuples . Tuples are just like lists , only difference being that there elements are immutable , meansing they can be changed. You can access the elements just like a list , you just cant change them . Here is an example which will clarify this

In [158]:
t=(1,2,3)

In [159]:
type(t)

tuple

Lets try to change an element of this tuple

In [160]:
t[2]=99

TypeError: 'tuple' object does not support item assignment

As you can see tuple's element can not be changed , this property is known as immutatibility . We can use tuples in places where we need to ensure that data doesnt change accidentally

We'll stop our discussion on basic data structures in python . In the next and final section on python we will learn how to right ouw functions and classes in python.

# Functions and Classes

So far we have been using many functions and classes in the programming examples , probably without even conciously noticing . In this section we will learn about writing our own functions and classes . We'll start with function .
 
 but before we start writing function, you need to understand utility of a function. A function is a block of code which we need to use repeatedly . So instead of writing the same bit of code again and again, we put it in a function and use that function instead.

Lets try to write a simple program first to solve a simple problem and then we will see how converting it in to a function will make our life easy and in the process , of course we will learn to write a function

Lets say , given a list of numbers we want to find out minimum and maximum numbers among them . A note of caution here , the way we are going to solve this problem is deifinitely not the only way to solve this . There exists far more efficient ways to solve this. Lets begin

this is the list given to us

In [161]:
x=[2,3,40,-9,4,8,6,30,21]

we can start by creating place holder vars for min and max and change them as we traverse through the list inside a for loop

In [162]:
x_min=x[0]
x_max=x[0]

for val in x:
    if val<x_min:
        x_min=val
    if val>x_max:
        x_max=val
print(x_min,x_max)

-9 40

But everytime i want to do this for a new list, i will have to write entire bit of code all over again

lets see how we can put this block of code inside a function and how to use it later

We need to understand what are the inputs for the program that we wrote above. We need just the said list as input. That mean our function will also need just one input

In [163]:
def find_min_max(my_list):
    x_min=my_list[0]
    x_max=my_list[0]

    for val in my_list:
        if val<x_min:
            x_min=val
        if val>x_max:
            x_max=val
    return(x_min,x_max)

Here the keyword def tells python that we are going to write a function, the name find_min_max could have been anything. Python doesnt care about function names as long as another function with the same doesnt exist already. But as a good programming practice , you should name your function which relfects what the function does

In the prarenthesis after the function name you put name of the inputs that you are going to use in the function. Within the function, these inputs will be referred with the said name only . Many sources that you will read online or elsewhere refer to these inputs ad arguments as well

Once you are done doing your calculation with the inputs and have the result at hand , you will need to "return" it in order to get the result as output

Lets use the function with other lists

In [164]:
a=[34,5,6,32,45,67,89,2,4,99,23]

In [165]:
find_min_max(a)

(2, 99)

See i dont have to write that bit of code all over again, i can simply call this function to find min and max a list of numbers

A function can have multiple arguments depending on what exactly do we want to achieve with it

Here is a function which takes three arguments for length, breadth and height for a cube and returns its surface area and volum in form of a dictionary

In [166]:
def cube_volume_surfacearea(l,w,h):
    
    volume=l*w*h
    
    surface_area=2*(l*w+w*h+l*h)
    
    return(volume, surface_area)

In [167]:
cube_volume_surfacearea(4,5,8)

(160, 184)

In here if i do not pass value any of the arguments , function will throw an error

In [168]:
cube_volume_surfacearea(5,6)

TypeError: cube_volume_surfacearea() missing 1 required positional argument: 'h'

We can avoid that if while defining the function we give these arguments some default value.

In [169]:
def cube_volume_surfacearea(l=1,w=1,h=1):
    
    volume=l*w*h
    
    surface_area=2*(l*w+w*h+l*h)
    
    return(volume, surface_area)

In [170]:
cube_volume_surfacearea(5,6,7)

(210, 214)

In [171]:
cube_volume_surfacearea(5,6)

(30, 82)

In [172]:
cube_volume_surfacearea(5)

(5, 22)

In [173]:
cube_volume_surfacearea()

(1, 6)

Here the argument values are assigned to l, w, h respectively in the order they appear when defining the function. If we name our arguements the order in which we pass doesnt really matter

In [174]:
cube_volume_surfacearea(w=6,l=99)

(594, 1398)

We can have arbitrary number of arguments as well in our functions by defining arguments in a special way

In [175]:
def test_var_args(farg, *args):
    print ("formal arg:", farg)
    for arg in args:
        print ("another arg:", arg)

test_var_args(1, "two", 3)

formal arg: 1
another arg: two
another arg: 3

Here the function that we defined has one normal agrument named farg , *args can be taken as list of all subsequent arguments

Even when you are defining a function capable of handling arbitray number of arguments , you can have arguments with names using **kwargs

In [176]:
def test_var_kwargs(farg, **kwargs):
    print ("formal arg:", farg)
    for key in kwargs:
        print ("another keyword arg: %s: %s" % (key, kwargs[key]))

test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3

Here you can understand **kwargs to be a dictionary where argument names work as keys

We will now move towards writing your own classes in python and in the process try to grasp some basic ideas about object oriented programing

what is a class? Simply a logical grouping of data and functions . What do we mean by "logical grouping"? Well, a class can contain any data we'd like it to, and can have any functions (methods) attached to it that we please. Rather than just throwing random things together under the name "class", we try to create classes where there is a logical connection between things. Many times, classes are based on objects in the real world (like Customer or Product or Points).

Regardless, classes are a  way of thinking about programs. When you think about and implement your system in this way, you're said to be performing Object-Oriented Programming. "Classes" and "objects" are words that are often used interchangeably.

Lets look at a use case which will convince you that when using a class to define a logical grouping makes your life easier

Lets say i am working with points in geometry which are defined by having a x_coordinate value and a y_coordinate value. We'd like to calculate their distance from origin, we'd like to calculate distance between two points . Lets try to do that without bothering about writing a class

In [177]:
x1,y1=2,3
x2,y2=5,7

We have to manage all these vars explicitly in order to maintain and keep track of these points. Now lets write a function which calculates a points distance from the origin

In [178]:
import math

def dist_from_origin(x,y):
    
    temp=(x)**2+(y)**2
    dist=math.sqrt(temp)
    return(dist)

In [179]:
dist_from_origin(x1,y1)

3.605551275463989

In [180]:
dist_from_origin(x2,y2)

8.602325267042627

Lets write a function to calculate a distance between two points

In [181]:
def dist_two_points(x_a,y_a,x_b,y_b):
    
    temp=(x_a-x_b)**2 + (y_a-y_b)**2
    
    dist=math.sqrt(temp)
    
    return(dist)

In [182]:
dist_two_points(x1,y1,x2,y2)

5.0

this works , however it would be really convenient if i did not have to manage so many vars to define a point and it was somehow managed internally . Lets see how we can achieve by defining a class. We'll name this class Point.

In [183]:
class Point(object):
    
    # the first function is __init__ , with double underscore 
    # this is used to set properties of object of the class point when it gets created
    # we can also put data here which can be used by any object of the class Point 
    # can also be used by other methods/functions contained in the class
    
    # self here is a way to refer to object of the same class and its attribute 
    
    def __init__(self,x,y):
        self.X=x
        self.Y=y
    
    
    def dist_two_points(self,other):
        
        temp=(self.X-other.X)**2+(self.Y-other.Y)**2
        
        return(math.sqrt(temp))
    
    def dist_from_origin(self):
        
        temp=(self.X)**2+(self.Y)**2
        
        return(math.sqrt(temp))

In [184]:
a=Point(2,3)
b=Point(5,7)

Here we have created two points, if we now wan to know what their X and Y coordinate values are we can simply access attribute of the object .

In [185]:
a.X,a.Y

(2, 3)

In [186]:
b.X,b.Y

(5, 7)

In [187]:
Point.dist_two_points(a,b)

5.0

In [188]:
Point.dist_from_origin(a)

3.605551275463989

In [189]:
Point.dist_from_origin(b)

8.602325267042627

In above to call to functions we called these functions using the class name , another popular and very often seen way of calling the function contained in the class is by using the object itself instead using the class name needlessly

In [190]:
a.dist_from_origin()

3.605551275463989

here the role of self gets very evident , when we are calling a function like the object itself in this case "a" becomes self and is treated like such in the functions within the class

In [191]:
a.dist_two_points(b)

5.0

A note of caution or rather a note for putting you at ease here would be that it will not happen in the course that you end up writing your own classes. Not because we will avoid that, but because we dont really need to . We discussed object oriented programming for the sake of completing discussion on python. Its definitely a good to know concept, but you dont really need to worry or stress too much over it as a data scientist , at least to start with.

We'll close this now , this also marks end of the introduction to python module. You can now move to second module of the course where we discuss how to handle datasets, summarise and visualise them using numpy, pandas and seaborn packages