In [1]:
library(data.table)

In [2]:
df=fread("/Users/naveenkumar/simility/quoka/quoka_uniq.csv",stringsAsFactors = F,data.table = F,na.strings = "",integer64 = "double",sep = ",",quote = "~")

Read 0.0% of 372099 rows

Warning message in fread("/Users/naveenkumar/simility/quoka/quoka_uniq.csv", stringsAsFactors = F, :
“Bumped column 2124 to type character on data row 2938, field contains 'blacklisted'. Coercing previously read values in this column from logical, integer or numeric back to character which may not be lossless; e.g., if '00' and '000' occurred before they will now be just '0', and there may be inconsistencies with treatment of ',,' and ',NA,' too (if they occurred in this column before the bump). If this matters please rerun and set 'colClasses' to 'character' for this column. Please note that column type detection uses a sample of 1,000 rows (100 rows at 10 points) so hopefully this message should be very rare. If reporting to datatable-help, please rerun and include the output from verbose=TRUE.”Warning message in fread("/Users/naveenkumar/simility/quoka/quoka_uniq.csv", stringsAsFactors = F, :
“Bumped column 2557 to type character on data row 4281, field contains 'The address 185.251.200.129 is not in the database.'. Coercing previously read values in this column from logical, integer or numeric back to character which may not be lossless; e.g., if '00' and '000' occurred before they will now be just '0', and there may be inconsistencies with treatment of ',,' and ',NA,' too (if they occurred in this column before the bump). If this matters please rerun and set 'colClasses' to 'character' for this column. Please note that column type detection uses a sample of 1,000 rows (100 rows at 10 points) so hopefully this message should be very rare. If reporting to datatable-help, please rerun and include the output from verbose=TRUE.”

Read 2.7% of 372099 rows

Warning message in fread("/Users/naveenkumar/simility/quoka/quoka_uniq.csv", stringsAsFactors = F, :
“Bumped column 779 to type character on data row 13481, field contains '34233 Fuld'. Coercing previously read values in this column from logical, integer or numeric back to character which may not be lossless; e.g., if '00' and '000' occurred before they will now be just '0', and there may be inconsistencies with treatment of ',,' and ',NA,' too (if they occurred in this column before the bump). If this matters please rerun and set 'colClasses' to 'character' for this column. Please note that column type detection uses a sample of 1,000 rows (100 rows at 10 points) so hopefully this message should be very rare. If reporting to datatable-help, please rerun and include the output from verbose=TRUE.”

Read 371198 rows and 2583 (of 2583) columns from 4.388 GB file in 00:01:28

In [3]:
as.Date(head(df$sim_creation_date))

[1] "2018-04-10" "2018-04-20" "2018-04-20" "2018-04-02" "2018-04-20"
[6] "2018-04-20"

In [4]:
table(as.Date(df$sim_creation_date) > '2017-01-30')

 FALSE   TRUE
 12881 358317

In [5]:
df=df[as.Date(df$sim_creation_date) > '2017-01-30',]

In [6]:
decisionData=fread("/Users/naveenkumar/simility/quoka/quoka_y.csv",stringsAsFactors = F,data.table = F)

Read 4506988 rows and 5 (of 5) columns from 0.354 GB file in 00:00:26

In [7]:
length(setdiff(df$eid,decisionData$eid))

[1] 0

In [8]:
ls()

[1] "decisionData" "df"

In [9]:
dim(decisionData)

[1] 4506988       5

In [17]:
colnames(decisionData)

[1] "eid"               "sim_created_at"    "sim_creation_date"
[4] "sim_dc"            "sim_updated_at"

In [18]:
decision = subset(decisionData, select=c("eid", "sim_dc"))

In [19]:
colnames(decision)

[1] "eid"    "sim_dc"

In [10]:
"201738651" %in% decisionData$eid

[1] TRUE

In [11]:
tombstoneCols     <- grep("tombstone",colnames(df),value = T)
variabilityCols   <- grep("variability",colnames(df),value = T)
badnessCols       <- c(grep("num_bad",colnames(df),value = T),grep("badnessratio",colnames(df),value = T))
tsCols            <- grep("_ts_",colnames(df),value = T)
lifetimeCountCols <- grep("_lifetime_count$",colnames(df),value = T)
lifetimeSumCols   <- grep("_lifetime_sum$",colnames(df),value = T)
eidCols           <- grep("_eid$",colnames(df),value = T)
numDaysCols       <- grep("_numdays_",colnames(df),value = T)
fuzzyDeviceCols   <- grep("fuzzy_device",colnames(df),value = T)

In [12]:
str_cols = c('device_id_ip_ews_connection_type_ml_v2',
'sim_pipeline_triggered_reason',
'device_id_ip_isp',
'city_category_sim_frequently_used',
'ad_place_path_sim_creation_date',
'device_id_ip_ews_country_name',
'ad_city',
'ad_email_domain_copy',
'ad_email_domain_sim_frequently_used',
'device_id_ip_ews_isp',
'ad_status',
'user_phone_1_eid',
'ad_country',
'ad_phone_1_sim_creation_date',
'user_id_sim_creation_date',
'sim_creation_date',
'ad_address_sim_frequently_used',
'ad_email_domain_sim_creation_date',
'sim_ps1',
'ad_ad_content_email_matching_flag_ml_v2',
'city_category',
'device_signals_eid',
'ad_place_path',
'device_id_ip_eid',
'sim_qadtr',
'sim_ps',
'city_category_sim_creation_date',
'ad_email_address',
'city_category_eid',
'ad_image_1',
'device_id_ip_ews_connection_type',
'sim_ll',
'session_id_sim_creation_date',
'device_id_ip_ews_autonomous_system_organization',
'ad_email_domain',
'device_id_eid',
'ad_text_phone_number_content_sim_creation_date',
'date',
'user_email',
'ad_email_address_sim_creation_date',
'device_id_ip_ews_is_satellite_provider',
'ad_dealtype',
'device_id_ip_ews_country_iso_code',
'user_email_address_sim_frequently_used',
'ad_phone_1',
'ad_place_path_eid',
'user_id_sim_queues',
'user_phone_1_sim_frequently_used',
'sim_dc_reasons',
'session_id_eid',
'user_address_sim_creation_date',
'user_first_name',
'ad_place_path_sim_frequently_used',
'user_id_sim_dc_reasons',
'ad_text_md5_sim_frequently_used',
'ad_phone_1_sim_frequently_used',
'user_street',
'ad_dealtype_ml_v2',
'user_email_address_sim_creation_date',
'user_address_sim_frequently_used',
'user_city',
'ad_email_address_eid',
'ad_text_md5',
'user_holder',
'device_id_ip_ews_continent_name',
'ad_text',
'ad_commercial_ml_v2',
'device_id_ip_ews_tor',
'device_id_ip_country',
'ad_address_eid',
'session_id',
'user_email_address',
'device_id_ip_ews_continent_name_ml_v2',
'ad_place_name',
'user_phone_1_copy',
'ad_headline_1_sim_creation_date',
'sim_audit_source',
'user_id_sim_frequently_used',
'user_id_sim_qnote',
'ad_email_address_sim_frequently_used',
'user_address_eid',
'device_id_ip_sim_frequently_used',
'username_sim_creation_date',
'session_id_sim_frequently_used',
'user_last_name',
'user_address',
'sim_dc',
'sim_qnote',
'username_eid',
'ad_place_path_copy',
'ad_text_phone_number_content_sim_frequently_used',
'ad_headline',
'device_id_ip_ews_city_name',
'device_id_ip_ews_subdivisions_name',
'device_id_ip_ews_is_anonymous_proxy',
'sim_frequently_used',
'sim_wl',
'ad_address',
'user_id_sim_qadtr',
'ad_text_md5_ad_text',
'device_id_ip_ews_time_zone',
'device_id_sim_creation_date',
'device_id_ip_sim_creation_date',
'ad_address_copy',
'ad_email',
'ad_text_1',
'device_id_ip',
'ad_headline_1_sim_frequently_used',
'device_id_ip_ews_domain',
'ad_text_md5_sim_creation_date',
'user_phone_1_sim_creation_date',
'first_name',
'last_name',
'ad_user_phone_matching_flag_ml_v2',
'ad_address_sim_creation_date',
'user_city_1',
'ad_city_1',
'user_phone_1',
'user_country',
'device_id',
'device_id_ip_ews_registered_country_name',
'ad_headline_1',
'ad_price_type',
'user_email_address_eid',
'device_id_ip_ews_organization',
'ad_headline_1_eid',
'user_id_sim_dc',
'ad_text_md5_eid',
'sim_q',
'ad_email_domain_eid',
'user_id_sim_wl',
'sim_queues',
'username',
'username_sim_frequently_used',
'device_id_ip_ews_registered_country_iso_code',
'device_id_ip_city',
'ad_phone_1_eid',
'ad_source',
'device_id_sim_frequently_used',
'ad_image_hash_1_sim_local_feedback_status',
'device_os_family',
'device_browser_family',
'ad_image_hash_1',
'ad_image_hash_1_eid',
'ad_image_hash_1_sim_creation_date',
'ad_image_hash_1_sim_frequently_used',
'device_language',
'device_session_id',
'device_id_ip_ews_postal_code',
'user_suburb',
'ad_suburb',
'device_id_ip_ews_represented_country_code',
'device_id_ip_ews_represented_country_name',
'device_id_ip_ews_represented_country_type',
'ad_text_email_content_copy_sim_creation_date',
'ad_text_email_content_sim_frequently_used',
'ad_text_email_content_copy_sim_frequently_used',
'ad_text_email_content_sim_creation_date',
'ad_text_email_content_copy_eid',
'ad_text_email_content_eid',
'ad_text_email_content_copy',
'ad_text_email_content',
'device_id_ip_proxy',
'browserdata',
'device_id_ip_ews_geo_error')

In [13]:
noInfoCols=unique(c(str_cols,tombstoneCols,variabilityCols,badnessCols,tsCols,lifetimeCountCols,lifetimeSumCols,eidCols,numDaysCols,fuzzyDeviceCols))

In [14]:
length(noInfoCols)

[1] 1120

In [13]:
dim(df)

[1] 358317   2583

In [15]:
df=df[,!colnames(df) %in% noInfoCols]

In [16]:
dim(df)

[1] 358317   1466

In [20]:
df_xy = merge.data.frame(x = df, y = decision, by = "eid")
dim(df_xy)

[1] 358317   1467

In [21]:
write.csv(df_xy,file = "/Users/naveenkumar/simility/quoka/quoka_uniq_filtered_cols.csv",row.names = F,na="")

In [23]:
rm("df", "decisionData", "decision")

Warning message in rm("df", "decisionData", "decision"):
“object 'df' not found”Warning message in rm("df", "decisionData", "decision"):
“object 'decision' not found”