In [1]:
import pandas as pd  
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [4]:
import glob
path ='/Users/naveen/Dropbox/OnlineWork/Datasets/SemEval2017/2017_English_final/DOWNLOAD/Subtask_A'
all_files = glob.glob(path + "/twitter*.txt")
frame = pd.DataFrame()
list_ = []
for file_ in all_files:
    df = pd.read_csv(file_,index_col=None, sep='\t', header=None, names=['id','sentiment','text','to_delete'])
    list_.append(df.iloc[:,:-1])
df = pd.concat(list_)
print(df.count())
df = df.drop_duplicates()
print(df.count())
df = df.reset_index(drop=True)
df.tail()

id           50334
sentiment    50334
text            10
dtype: int64
id           49654
sentiment    49654
text            10
dtype: int64

                       id sentiment text
49649  639016598477651968   neutral  NaN
49650  640276909633486849   neutral  NaN
49651  640296841725235200   neutral  NaN
49652  641017384908779520   neutral  NaN
49653  641395811474128896   neutral  NaN

10