In [76]:
%matplotlib inline
import pandas as pd
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

In [77]:
train_data_path = '/Users/naveenkumar/Desktop/AnalyticsVidhyaHackathon/train.csv'

train_data = pd.read_csv(train_data_path, sep=',', low_memory=False)


df.ix[10,:] gives you all the columns from the 10th row. 
In your case you want everything up to the 10th row which is df.ix[:9,:]. 
Note that the right end of the slice range is inclusive:

In [78]:
#s1 = train_data.iloc[:10000,:]
s2 = train_data.sample(n=10000, random_state=42)

In [127]:
def columntype(x):
    t = ''
    if is_numeric_dtype(x) == True:
        t = 'numeric'
    else:
        t = 'string'
    
    return t

def unique_value_counts(x,y):
    if y <= 10:
        return (s2[x].value_counts()).to_dict()

In [154]:
cmd = pd.DataFrame(s2.columns,columns=['column_name'])
cmd['TotalRows'] = len(s2)
cmd['TotalUniqueLevels'] = cmd['column_name'].apply(lambda col:s2[col].nunique())
cmd['PercentUniqueValues'] = cmd['TotalUniqueLevels']/cmd['TotalRows']
cmd['TotalNullValues'] = cmd['column_name'].apply(lambda col:s2[col].isnull().sum())
cmd['PercentNullValues'] = cmd['TotalNullValues']/cmd['TotalRows']
cmd['IdColFlag'] = cmd['TotalRows'] == cmd['TotalUniqueLevels']
cmd['DataType'] = cmd['column_name'].apply(lambda col:columntype(s2[col]))
#cmd['UniqueValue'] = cmd[['column_name','TotalUniqueLevels']].apply(lambda x: unique_value_counts(*x),axis=1)
cmd['UniqueValue'] = cmd[cmd['TotalUniqueLevels'] < 11]['column_name'].apply(lambda col:(s2[col].value_counts()).to_dict())
cmd['mean'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].mean(),2))
cmd['min'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].min(),2))
cmd['q1'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].quantile(q=0.25),2))
cmd['median'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].median(),2))
cmd['q3'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].quantile(q=0.75),2))
cmd['max'] = cmd[cmd['DataType']=='numeric']['column_name'].apply(lambda col:round(s2[col].max(),2))


NullColumnList = list(cmd[cmd['TotalNullValues'] == cmd['TotalRows']]['column_name'])
FixedColumns = list(cmd[cmd['TotalUniqueLevels'] == 1][cmd['TotalNullValues'] == 0]['column_name'])

DropColList = NullColumnList + FixedColumns; 

SingleValueColumn = list(cmd[cmd['TotalUniqueLevels'] == 1]['column_name'])

/Users/naveenkumar/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [160]:
cmd.head(10)
x = cmd[cmd['DataType']=='numeric']
x[x['TotalNullValues'] > 0]['column_name']
cmd[cmd['column_name'] == 'DC_SPEND_MON_03']

,column_name,TotalRows,TotalUniqueLevels,PercentUniqueValues,TotalNullValues,PercentNullValues,IdColFlag,DataType,UniqueValue,mean,min,q1,median,q3,max
47,DC_SPEND_MON_03,10000,1424,0.1424,8206,0.8206,False,numeric,NaN,4147.35,0.01,560.25,1555.47,4354.61,107528.61

columns with 1 or two values check what is the column data type and fill the missing value 
also check if unique values of these columns can be stored in column meta data

In [107]:
s3 = s2.drop(DropColList, axis=1, inplace=False)
ColAffinity = column_metadata['TotalUniqueLevels'].value_counts()

x = column_metadata[column_metadata['TotalUniqueLevels']==1][['column_name', 'DataType']]
#x['DataType'].value_counts()
s2['PL_TAG'].

Y    573
Name: PL_TAG, dtype: int64

In [ ]:
'''
for col in x['column_name']:
    
    print s2[col].value_counts()
    
'''

In [104]:
print(s2['OCCUP_ALL_NEW'].value_counts())
print(s2['TWL_TAG'].value_counts())

SALARIED    10000
Name: OCCUP_ALL_NEW, dtype: int64
Y    179
Name: TWL_TAG, dtype: int64

# s3 = s2.drop(NullColumnList, axis=1, inplace=False)
s3.columns

In [58]:
import pandas as pd
import dateutil
 
# Load data from csv file
data = pd.DataFrame.from_csv('phone_data.csv')

print(data.head(10))

# Convert date from string to date times
data['date'] = data['date'].apply(dateutil.parser.parse, dayfirst=True)

data['item'].count()
data['duration'].max()
data['duration'][data['item'] == 'call'].sum()
data['month'].value_counts()
data['network'].nunique()


data.groupby(['month']).groups.keys()
#len(data.groupby(['month']).groups['2014-11'])

                 date  duration  item    month    network network_type
index
0      15/10/14 06:58    34.429  data  2014-11       data         data
1      15/10/14 06:58    13.000  call  2014-11   Vodafone       mobile
2      15/10/14 14:46    23.000  call  2014-11     Meteor       mobile
3      15/10/14 14:48     4.000  call  2014-11      Tesco       mobile
4      15/10/14 17:27     4.000  call  2014-11      Tesco       mobile
5      15/10/14 18:55     4.000  call  2014-11      Tesco       mobile
6      16/10/14 06:58    34.429  data  2014-11       data         data
7      16/10/14 15:01   602.000  call  2014-11      Three       mobile
8      16/10/14 15:12  1050.000  call  2014-11      Three       mobile
9      16/10/14 15:30    19.000  call  2014-11  voicemail    voicemail

['2014-12', '2014-11', '2015-02', '2015-03', '2015-01']