In [9]:
%matplotlib inline
import numpy as np
import pandas as pd
import re as re
import warnings
warnings.filterwarnings('ignore')

fdir = '/Users/naveenkumar/Dropbox/OnlineWork/Datasets/FeedBackLoopTesting/'

df = pd.read_csv(fdir + 'Sensorless_drive_diagnosis.txt', header=None, delimiter=' ')

In [20]:
df.head()
df.shape[1]
col_list = []
for c in range(0,df.shape[1]):
    t = 'col' + str(c)
    col_list.append(t)

df.columns = col_list

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,...,col39,col40,col41,col42,col43,col44,col45,col46,col47,col48
0,-3.014600e-07,8.260300e-06,-0.000012,-0.000002,-1.438600e-06,-0.000021,0.031718,0.031710,0.031721,-0.032963,...,-0.63308,2.9646,8.1198,-1.4961,-1.4961,-1.4961,-1.4996,-1.4996,-1.4996,1
1,2.913200e-06,-5.247700e-06,0.000003,-0.000006,2.778900e-06,-0.000004,0.030804,0.030810,0.030806,-0.033520,...,-0.59314,7.6252,6.1690,-1.4967,-1.4967,-1.4967,-1.5005,-1.5005,-1.5005,1
2,-2.951700e-06,-3.184000e-06,-0.000016,-0.000001,-1.575300e-06,0.000017,0.032877,0.032880,0.032896,-0.029834,...,-0.63252,2.7784,5.3017,-1.4983,-1.4983,-1.4982,-1.4985,-1.4985,-1.4985,1
3,-1.322600e-06,8.820100e-06,-0.000016,-0.000005,-7.282900e-07,0.000004,0.029410,0.029401,0.029417,-0.030156,...,-0.62289,6.5534,6.2606,-1.4963,-1.4963,-1.4963,-1.4975,-1.4975,-1.4976,1
4,-6.836600e-08,5.666300e-07,-0.000026,-0.000006,-7.940600e-07,0.000013,0.030119,0.030119,0.030145,-0.031393,...,-0.63010,4.5155,9.5231,-1.4958,-1.4958,-1.4958,-1.4959,-1.4959,-1.4959,1

In [22]:
col_list[len(col_list)-1]

'col48'

In [23]:
df.rename(columns={col_list[len(col_list)-1]:'target'}, inplace=True)
df.columns

Index([u'col0', u'col1', u'col2', u'col3', u'col4', u'col5', u'col6', u'col7',
       u'col8', u'col9', u'col10', u'col11', u'col12', u'col13', u'col14',
       u'col15', u'col16', u'col17', u'col18', u'col19', u'col20', u'col21',
       u'col22', u'col23', u'col24', u'col25', u'col26', u'col27', u'col28',
       u'col29', u'col30', u'col31', u'col32', u'col33', u'col34', u'col35',
       u'col36', u'col37', u'col38', u'col39', u'col40', u'col41', u'col42',
       u'col43', u'col44', u'col45', u'col46', u'col47', u'target'],
      dtype='object')