In [48]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

fdir = '/Users/naveenkumar/Dropbox/OnlineWork/Datasets/ElevatorProblem/'

ds = pd.read_csv(fdir + 'input.csv')
ds

,Person_Id,Floor_in,Floor_in_time,Elevator_in_time,Elevator_out_time,Floor_out
0,1,0,03-04-2018 23:10:15,03-04-2018 23:12:30,03-04-2018 23:13:39,7
1,1,2,03-04-2018 11:10:15,03-04-2018 11:12:30,03-04-2018 11:13:39,6
2,1,4,03-04-2018 11:10:15,03-04-2018 11:12:30,03-04-2018 11:13:39,20
3,1,0,03-04-2018 11:10:15,03-04-2018 11:12:30,03-04-2018 11:13:39,7
4,2,0,03-04-2018 23:10:15,03-04-2018 23:12:30,03-04-2018 23:13:39,7
5,2,4,03-04-2018 23:10:15,03-04-2018 23:12:30,03-04-2018 23:13:39,6
6,2,3,03-04-2018 23:10:15,03-04-2018 23:12:30,03-04-2018 23:13:39,20
7,2,8,03-04-2018 23:10:15,03-04-2018 23:12:30,03-04-2018 23:13:39,7

Total unique floor accessed

In [74]:
Floor_in_Access = ds[['Person_Id', 'Floor_in']]
Floor_out_Access = ds[['Person_Id', 'Floor_out']]

Floor_in_Access.rename(columns={'Floor_in':'Floor_id'}, inplace=True)
Floor_out_Access.rename(columns={'Floor_out':'Floor_id'}, inplace=True)

All_Floor_Accessed = pd.concat([Floor_in_Access, Floor_out_Access])

Unique_Floor_Accessed = All_Floor_Accessed.drop_duplicates(['Person_Id', 'Floor_id'])
Unique_floor_accessed_count = Unique_Floor_Accessed[['Person_Id', 'Floor_id']].groupby(['Person_Id'], as_index=False).count()
Unique_floor_accessed_count.rename(columns={'Floor_id':'NumUniqueFloorsAccessed'}, inplace=True)

   Person_Id  NumUniqueFloorsAccessed
0          1                        6
1          2                        7

#Total Journeys in odd hours/ Total Journeys


Hour Oddness Score

In [69]:
def houroftheday(x):
    tmp = datetime.strptime(x, '%d-%m-%Y %H:%M:%S')
    return str(tmp.hour)

Ele_Access_Hours = ds[['Person_Id', 'Elevator_in_time']]
Ele_Access_Hours['Ele_Access_Hour'] = Ele_Access_Hours['Elevator_in_time'].apply(lambda col:houroftheday(col))

In [85]:
Ele_Access_Hours_count = Ele_Access_Hours[['Person_Id', 'Ele_Access_Hour']].groupby(['Ele_Access_Hour'], as_index=False).count()
Ele_Access_Hours_count.rename(columns={'Person_Id':'NumTimeFloorAccessed'}, inplace=True)

  Ele_Access_Hour  NumTimeFloorAccessed
0              11                     3
1              23                     5

In [87]:
np.percentile(Ele_Access_Hours_count['NumTimeFloorAccessed'], 10)

3.2